/* Acompañantes del nav */
.oferta{
	margin-top: 1.65%;
	padding: 8px;
	text-align: center;
	background-color: #ffaac7;
	color: #000;
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	font-size: 15px;
}
/* fin de acompañantes del nav */

/* containers */

.c1{
	display: flex;
	justify-content: center;
}

.cd{
	display: flex;
	justify-content: center;
	margin-top: 3%;
	margin-left: 12%;
    margin-right: 12%;
}

.c2{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* fin de containers */

/* filtros */

.hist{
	display: flex;
	flex-direction: column;
	margin-top: 6.8%;
	margin-bottom: 3%;
	width: 57.5%;
}

.filtros{
	margin-top: 7%;
	margin-bottom: 5%;
	justify-content: center;
	margin-right: 8%;
	width: 9%;
}

.filtros h1{
	font-size: 25px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	margin-bottom: 10%;
}

.filtros h2{
	font-size: 18px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 500;
	margin-bottom: 8%;
}

.filtros label{
	font-size: 14px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
}
  
.container {
	margin-left: 15% !important;
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 4px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  
.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
  
.checkmark {
	border: 1px solid black ;
	position: absolute;
	top: 3px;
	left: -10px;
	height: 15px;
	width: 15px;
	background-color: #fff;
}
  
.container:hover input ~ .checkmark {
	background-color: #ccc;
}
  
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
  
.container input:checked ~ .checkmark:after {
	display: block;
}
  
.container .checkmark:after {
	left: 3.5px;
	top: 1px;
	width: 5px;
	height: 8px;
	border: solid black;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
/* fin de filtros */

/* productos */


.hist h1{
    font-size: 28px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    margin-left: 7%;
    margin-bottom: 4%;
}

.hist-list{
	margin-left: 7%;
	width: 92.5%;
}

.products-list{
	margin: 6% 0 2% 0;
	display: table;
	width: 55%;
}

.products-list2{
	margin: 2% 0 2% 0;
	display: table;
	width: 90%;
}

.product-box{
	display: inline-table;
	padding: 10px;
	width: 33.33%;
}
.product-box a{
	text-decoration: none;
}
.product{
	transition: 0.4s;
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 0 8px 3px #ccc;
	background-color: #fff;
}

.product:hover{
	transform: scale(1.1);
}
.product img{
	width: 100%;
	border-radius: 10px 10px 0 0;
}
.detail-title{
	margin-bottom: 10%;
	padding: 5px;
	text-align: center;
	font-size: 18px;
	color: #333;
	width: calc(100% - 10px);
	height: 35px;
}
.detail-description{
	text-align: center;
	font-size: 14px;
	color: #333;
	padding: 5px;
	width: calc(100% - 10px);
	height: 34px;
}
.detail-price{
	text-align: center;
	font-size: 25px;
	color: #f48fb1;
	padding: 5px;
	width: calc(100% - 10px);
}
.detail-price span{
	font-size: 15px;
}

/* fin de productos */

/* perfil */

.pan{
	display: flex;
	flex-direction: column;
	margin-top: 3%;
	width: 15%;
	border-right: 1px solid#dedfe0;
}

.pan h2{
	margin-top: 10%;
	margin-bottom: 0.5px;
	font-size: 16px;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 500;
}

.pan h1{
	margin-bottom: 10%;
	font-size: 39px;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 700;
}

.pan img{
	display: none;
}

.pan a{
	color: #000;
	margin-bottom: 8%;
	font-size: 18px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 500;
	transition: 0.3s ease-in-out;
}

.pan a:last-child{
	margin-bottom: 12% !important;
}

.pan a:hover{
	color: #f48fb1;
}

.dat{
	margin-top: 6.8%;
	width: 57.5%;
}

.dat h1{
	font-size: 28px;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 400;
	margin-left: 7%;
	margin-bottom: 4%;
}

.nf{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.nf h2{
	font-size: 15px;
	color: #6d747a;
}

.nf img{
	margin-top: 2%;
	margin-left: 45%;
	opacity: 30%;
	width: 10%;
}

.ci{
	margin-bottom: 2%;
	margin-left: 7%;
	border: 1px solid #dedfe0;
	border-radius: 8px;
	padding: 24px;
}

.ci:last-child{
	margin-bottom: 5%;
}

.ci button{
	color: #1773cf;
	cursor: pointer;
	text-decoration: underline;
	background-color: #fff;
	border: 0;
	position: absolute;
	margin-left: 46.5%;
	margin-top: -0.8%;
}

#eliminar{
	margin-left: 45.4%;
	color: #e01f1f !important;
}

.ci h2, .ci h5{
	font-weight: 300;
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 16px;
}

.ci h5{
	margin-bottom: 10px !important;
}

.ci h2{
	font-weight: 500;
	margin-bottom: 15px !important;
}

.ci h3{
	font-weight: 700;
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 20px;
}

.ci h4, .ci h6{
	font-weight: 500;
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 14px;
}

.ci h4{
	margin-bottom: 3px !important;
}

.ci h6{
	font-weight: 300;
	color: #6d747a;
	margin-top: -13px !important;
	margin-bottom: 23px !important;
}

/* fin de perfil */

.search-place input{
	padding: 10px;
	font-size: 15px;
	background-color: #fefefe;
	border:1px solid #ccc;
	width: calc(100% - 62px);
	font-family: 'Sen', sans-serif;
}
.search-place input:placeholder{
	color: #ccc;
}
.btn-main{
	padding: 10px;
	font-size: 15px;
	background-color: #fefefe;
	border-style: none;
	border:1px solid #ccc;
	cursor: pointer;
}
.btn-search{
	width: 40px;
	color: #333;
}
.options-place{
	width: 250px;
	display: flex;
	justify-content: flex-end;
}
.item-option{
	padding: 5px 10px;
	line-height: 30px;
	font-size: 30px;
	cursor: pointer;
	color:#fff;
	font-family: 'Sen', sans-serif;
	display: flex;
}
.item-option p{
	font-size: 15px;
	margin: 0;
	margin-left: 5px;
}
.main-content{
	display: flex;
	justify-content: center;
	width: 100%;
}
.content-page{
	margin-top: 2.15%;
	margin-bottom: 2%;
	padding: 10px;
	width: calc(100% - 20px);
	max-width: 1180px;
}

.content1 section{
	display: flex;
}

.content-page section{
	justify-content: center;
	display: flex;
}
.part1{
	padding: 50px;
	width: calc(60% - 20px);
	border-right: 1px solid #ddd;
}
.part2{
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-left: 3%;
	padding: 10px;
	width: calc(40% - 20px);

}
.part1 img{
	width: 100%;
}
.part2 *{
	margin: 10px 0;
}
.part2 h2{
	color: #333;
	font-size: 30px;
}
.part2 h1{
	color: var(--main-red);
	font-size: 45px;
}
.part2 h1 span{
	font-size: 30px;
}
.part2 h3{
	color: #333;
	font-weight: normal;
}

.part2 button{
	border-style: none;
	border-radius: 5px;
	padding: 13px 20px;
	color: #fff;
	background: #f48fb1;
	cursor: pointer;
	font-size: 16px;
}
.title-section{
	margin-top: 5%;
	padding: 10px 0; 
	font-size: 20px;
	color: #666;
}

.body-pedidos{
	width: 100%;
	margin-bottom: 2%;
}
.item-pedido{
	display: flex;
	border-radius: 5px;
	border: 1px #ccc solid;
	margin-bottom: 5px;
	background: #fff;
}
.pedido-img{
	width: 200px;
}
.pedido-img img{
	width: 100%;
}
.pedido-detalle{
	padding: 10px;
	width: calc(100% - 220px);
}
.pedido-detalle h3,
.pedido-detalle p{
	margin: 5px 0;
}
.ipt-procom{
	transition: 0.2s ease-in-out;
	border: 0;
    border-bottom: 1px solid #ccc !important;
	width: 250px;
	margin-bottom: 20px;
}

.ipt-procom:focus {
	outline: none;
	border: 0;
	border-bottom: 1px solid #f48fb1 !important;
  }

#compra{
	margin-left: 85%;
	padding: 5px 10px;
	background-color: transparent;
	border: 1px solid #ccc;
	border-radius: 5px;
}

#compra:focus{
	color: #f48fb1;
}

.p-line{
	display: flex;
}
.p-line div{
	width: 150px;
	font-weight: 600;
}
.metodo-pago{
	display: flex;
	width: 100%;
}
input[type="radio"]{
	width: 20px;
	height: 20px;
	margin: 0 5px 5px 5px;
}
.metodo-pago label{
	width: calc(100% - 30px);
}
.content-page h4{
	margin: 5px 0;
}
.menu-opciones{
	width: 160px;
	background: #fff;
	position: fixed;
	top: 70px;
    right: 50px;
	color: #333;
	box-shadow: 0 0 8px 3px rgb(150,150,150);
	border-radius: 5px;
}
.menu-opciones ul{
	margin: 0;
	padding: 0;
}
.menu-opciones ul li{
	display: block;
}
.menu-opciones ul li a{
	color: #333;
	font-size: 13px;
	text-decoration: none;
}
.menu-opcion{
	padding: 10px 15px;
}
.caja-detalle{
	margin-bottom: 2% !important;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 100%;
	display: flex;
	background: #fff;
}
.caja-detalle .img{
	width: 150px;
}
.caja-detalle .img img{
	width: 100%;
}
.caja-detalle .detalle{
	width: calc(100% - 150px);
	padding: 10px;
}
.caja-detalle .detalle *{
	margin: 0;
}
.mb5{
	margin-bottom: 5px!important;
}
.btn-delete-cart{
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px;
	color: red;
	text-decoration: none;
	background: transparent;
	position: absolute;
	margin-left: 51%;
	margin-top: -13.5%;
}
.menu-movil{
	display: none;
	position: fixed;
	top: 10px;
	right: 10px;
}
footer{
	background: #000;
	width: 100%;
}
.body-footer{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px 0;
}
.body-footer h5{
	margin: 0;
	color: #aaa;
}
.div-flex{
	display: flex;
}
.div-flex .part{
	padding: 0 10px;
	width: 50%;
}
.div-flex .part h4{
	margin: 0;
	color: #fff;
}
.div-flex .part p{
	color: #fff;
}
.mb20{
	margin-bottom: 20px;
}
.mb10{
	margin-bottom: 10px!important;
}
@media(max-width: 850px){
	.product-box {
	    width: calc(100%/4 - 20px);
	}
}
@media(max-width: 700px){
	.product-box {
	    width: calc(100%/3 - 20px);
	}
	.options-place{
		width: 200px;
	}
	.search-place{
		width: calc(100% - 250px);
	}
}
@media(max-width: 500px){
	.product-box {
	    width: calc(100%/2 - 20px);
	}
	.options-place{
		display: none;
	}
	.menu-movil{
		display: block;
	}
	.logo-place{
		width: 100px;
		margin-top: 2px;
	}
	.search-place{
		width: calc(100% - 170px);
	}
	.menu-opciones {
	    right: 10px;
	}
	.content-page section{
		display: block;
	}
	.part2{
		width: calc(100% - 20px);
	}
	.part2 h2,.part2 h1,.part2 h3{
		margin: 0;
	}
	.part2 h2{
		font-size: 20px;
	}
	.part2 h1{
		font-size: 25px;
	}
	.part2 h1 span{
		font-size: 16px;
	}
	.part2 h4{
		font-size: 14px;
	}
	.pedido-img{
		width: 120px;
	}
	.pedido-detalle{
		width: calc(100% - 140px);
	}
	h3{
		margin: 10px 0;
	}
}