.c{
  margin: 0;
  height: 657px;
  width: 100%;
  background-image: url("../img/backlog4.jpg");
  background-repeat: no-repeat;
  justify-content: left;
  display: flex;
}



#flex{
  flex-direction: row ;
  display: flex;
  align-items: center ;
  justify-content: center;
  width: 100%;
}

p{
  text-align: center;
  color: white;
  position: absolute;
  font-size: 30px;
  width: 500px;
  font-family: 'Dancing Script', cursive;
  margin-left: 55%;
  margin-top: 9.5% !important;
}

#cajal{
  background: white;
  width: 45%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
 	box-shadow: 0 0 128px 0 rgba(0,0,0,0.1), 0 32px 64px -25px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#cajal form{
  margin-top: 18%;
  width: 70%;
}

.volver{
  margin-left: -39.3%;
  margin-top: -43%;
  border-radius: 100px;
  background-color: #f48fb1;
  width: 2%;
  position: absolute;
}

.volver img{
  padding: 7px 9px 7px 8px;
}

.cambiar{
  margin-top: -28%;
  position: absolute;
  width: 600px !important;
  margin-bottom: 8%;
  display: flex;
  flex-direction: row;
  justify-content:center;
}

.cambiar a, .cambiar h1{
  margin-right: 3%;
  font-size: 30px;
  margin-bottom: 0;
  line-height: 1.5;
  color: #d1a4b2;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

.cambiar a:hover{
  color: #f48fb1 !important;
  border-bottom: 2px solid #f48fb1;
}

.current{
  color: #f48fb1 !important;
  border-bottom: 2px solid #f48fb1;
}

#datos{
  width: 100%;
  display: flex;
  flex-direction: column;
}

#datos label{
  font-family: 'Quicksand', sans-serif;
  color: #f48fb1;
  font-weight: bold;
}

#datos input{
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  background-color: white;
  border: 0;
  border-bottom: 1px solid #d1a4b2 !important;
  padding: 10px 10px 5px 0;
  margin-bottom: 7%;
}

#datos input:focus {
  outline: none;
  border: 0;
  border-bottom: 1px solid #f48fb1 !important;
}

#datos input::placeholder {
  color: #d1a4b2;
}

#b{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#b input{
  border: 0;
  border-radius: 25px;
  padding: 10px 40px 10px 40px;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
  color: white;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  background-color: #f48fb1;
}

#b input:hover{
  background-color: #ffaac7;
}

#b a{
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  color: #d1a4b2;
  text-decoration: 1px underline #f48fb1!important;
  transition: 0.3s ease-in-out;
}

#b a:hover{
  color: #f48fb1;
  text-decoration: none !important;
}

#foto input{
  display: none;
}

#foto{
  margin-top: -3%;
  border-radius: 50px;
  background-color: #f48fb1;
  padding: 9px;
  width: 10%;
  margin-bottom: 3%;
}

#foto:hover{
  cursor: pointer;
}

#foto img:hover{
  cursor: pointer;
}

.log{
  margin-top: -12.5% !important;
}
 