body{
    background-color: #fff;
    font-family: sans-serif !important;
}

.tots{
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
    color: black !important;
    transition: 0.4s ease-in-out;
}

.tots:hover{
    color: white !important;
}

.buttons {
    min-width: 700px;
    display: flex;
    justify-content: space-around;
  }
  
  .fa-facebook{
      margin-top: 0.2%;
      margin-left: 42%;
      margin-bottom: 0.2%;
  }

  .fa-twitter{
     margin-top: 0.2%;
      margin-right: 42%;
      margin-bottom: 0.2%;
  }

  .buttons a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #f48fb1;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
  }
  
  .buttons a:hover {
      color: #fff;
    transform: scale(1.2);
  }

.navbar{
    color: #fff !important;
    background-color: #f48fb1;
}

.navbar .navbar-nav .nav-link {
    padding: 1em;
    transition: all .5s;
}
.navbar .navbar-nav .nav-link:hover {
  background-color: #fff;
  color: #f48fb1;
}

@media screen and (min-width:992px) {
.navbar{
    padding: 0 !important;
}

}

@media screen and (max-width:991px) {
    .navbar-brand{
        padding-left: 1em;
    }
    }

.container-fluid{
    padding-right: 0 !important;
}

.info{
    padding: 10px 10px 10px 20px;
    line-height: 30px;
    color: white;
    background-color: rgba(0,0,0,0.8);
}

#izq{
    width: 40% !important;
    margin-left: 55%;
    margin-top: 17%;
    margin-bottom: 10%;

}

#der{
    width: 40% !important;
    margin-left: 5%;
    margin-top: 14%;
    margin-bottom: 10%;

}

.licencia{
    margin-bottom: 0;
}


.backg{
    width: 100%;
    height: 1532px;
    background: #F5E9EF;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(248,186,207,1) 21%, rgba(244,143,177,1) 47%, rgba(247,175,199,1) 73%, rgba(255,255,255,1) 100%);
    position: absolute;
}

#ciz{
    margin-left: 10%;
    margin-top: 13.5%;
}

#cde{
    margin-left: 52.5%;
    margin-top: 2%;
}

.circulo{
    z-index: 99;
    background-color: white;
    border-radius: 100%;
    width: 500px;
    height: 500px;
    position: absolute;
    transition: 1s;
}


.imag2{
    width: 620px;
    height: 620px;
    z-index: 999;
    position: absolute;
    margin-top: 6.89%;
    margin-left: 2.7% ;
}

.imag1{
    width: 450px;
    height: 450px;
    z-index: 999;
    position: absolute;
    margin-top: -4.15%;
    margin-left: 57.75% ;
}

#espacio{
    text-align: center;
    word-spacing: 100px;
}

.pani{
    background-color: #cfcfcf;
    width: 20%;
    height: 883px;
}

.botonadmin{
    font-size: 75px !important;
    width: 80%;
    height: 190px;
    position: absolute;
    margin-left: 20%;
    background-color: rgba(210, 86, 226,0.8);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: .4s;
}

.botonadmin:hover{
    background-color: rgb(255,255,255);
    color: rgba(210, 86, 226,0.8);
}


#pos2{
    margin-top: 14%;
}

#pos3{
    margin-top: 28%;
}

.bt{
    font-size: 17px;
    margin-top: 5%;
    margin-left: 24%;
    color:black;
    position: absolute;
    background-color: #f48fb1;
    padding: 20px 200px 20px 200px;
    border-radius: 5px;
    transition: 0.4s;
    border: 2px solid black;
}

.bt:hover{
    color: white;
    border: 1px solid white;
}

@media screen and (max-width: 1366px) {

    .pani{
        width: 20%;
        height: 569px;
    }
}

@media screen and (max-width:920px){
    .grupos{
        flex-direction: column;
        align-items: center;
    }

    .publicaciones{
        flex-direction: column;
        align-items: center;
    }
    
    
    .uwu{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #izq{
        margin-left: 0;
    }

    #der{
        margin-left: 0;
    }

    .licencia{
        text-align: left !important;
    }
}


@media screen and (max-width:1024px){
    .img1{
        margin-left: 0.5% !important; 
        width: 5% !important;
        height: 20px !important;
    }

    .mainnav ul li a{
        line-height: 50px !important;
    }
}

@media screen and (min-width:1024px){
    .content{
        padding: 0 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .toggler{
        display: none;
    }

    .mainnav{
        display: inline-block !important;
        position: relative;
        height: 10vh !important; 
        width: 80% !important;
        padding: 5px 0;
    }

    .mainnav ul li{
        display: inline-block;
        padding-right: 20px;
    }

    .mainnav ul{
        position: relative;
        top: 0;
        left: 25%;
    }

    .mainnav ul li a:hover{
        color: rgb(210, 223, 39);
    }

    .contenedor{
        width: 100%;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .intro .contenedor{
        flex-flow: column;
    }

    .intro h1{
        font-size: 5em;
    }

    #cuentos{
        height: 100vh;
    }

    .card i{
        font-size: 1.5em;
    }

    .card h2 a:hover{
        color: #fffdca;
        font-size: 1.2em;
    }

    .separador{
        padding: 2px 20px;
        display: block;
        width: 100%;
        height: 46px;
        }

}


@media screen and (max-width: 480px) {
    
    .publicaciones{
        flex-direction: column;
        padding: 0px 0px 0px 46px;
    }

}

@media screen and (max-width:1337px) {

    #izq{
        width: 30% !important;
    }

    #der{
        width: 30% !important;
        margin-top: 20% !important;
        margin-left: 15%;
    }

    .imag2{
        width: 820px;
        height: 820px;
        margin-top: 3.3%;
        margin-left: 3.15%;
    }

    .imag1{
        width: 620px;
        height: 620px;
        margin-top: -3.6%;
        margin-left: 58.2%;
    }

    .circulo{
        width: 700px;
        height: 700px;
    }

    .backg{
        height: 1800px;
    }

    #ciz{
        margin-top: 8% !important;
    }
}