*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/* NAV */

header{
    width: 100%;
    background-color: rgb(214, 174, 255);
    position: fixed;
    z-index: 999;
}

.content{
    padding: 5px 20px;
}

.logo{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 36px;
    font-weight: 600;
}

.toggler{
    color: rgb(255, 255, 255);
    cursor: pointer;
    position: absolute;
    top: 13px;
    right: 20px;
}

.fa-bars{
    font-size: 1.5em;
}

.mainnav{
    height: 100vh;
    position: relative;
    width: 100%;
    display: none;
}

.mainnav ul{
    position: relative;
    top: 30%;
    margin: 0 auto;
    list-style: none;   
    text-align: center;
    text-transform: uppercase;
}

.mainnav ul li{
    line-height: 4em;
}

.mainnav ul li a{
    text-decoration: none;
    color: #f2f2f2;
    font-size: 18px;
    line-height: 40px;
}


a{
    text-decoration: none;
    display: inline;
}
